
html,body, #root {
  height: 100vh;
}

html {
  height: 100vh;
  background: #eaeaea;
}

.bg-image {
  background: url('/vs-code.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100%;
  width: 100%;
  position: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  position: absolute;
  top: 2em;
  max-width: 800px;
  margin: auto;
  margin-bottom: 2em;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
  
  .tabs {
    .ms-Pivot-text, .ms-Pivot-icon, .ms-Pivot-count {
      color: #fff;
    }
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }

  .App-header {
    background-color: #008272;
    padding-bottom: 0px;
    color: white;

    .name {
      margin-bottom: 0px;
    }

    .title {
      display: block;
      margin-bottom: 20px;
      color: rgba(255,255,255, 0.7);
    }
  }

  .tab-content{
    font-size: 1em;
    padding: 1.5em;
  }

  .profile {
    padding: 20px 0px;

    .ms-Persona > .ms-Persona-details > .ms-Persona-primaryText, .ms-Persona-primaryText:hover {
      color: #ffffff;
    }

    .ms-Persona-secondaryText{
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .container {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
  }

  p:first-child {
    margin-top: 0px;
  }
}